*.class
*.log
.idea/.name
.idea/dbnavigator.xml
.idea/inspectionProfiles/
.idea/sbt.xml
.idea/workspace.xml
build.sbt
project/Dependencies.scala
project/build.properties
project/target/config-classes/$4391f0a78d17ad32b6a6.cache
project/target/config-classes/$7be08f2caeec5b695177.cache
project/target/scala-2.12/sbt-1.0/resolution-cache/
project/target/streams/
src/
target/
